/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  margin: 0;
 }
 .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);
 }

 a {
  text-decoration: none;
 }

 .header-home {
  margin-left: 15px;
 }

 .btn-header {
  padding: 5px;
  background-color: rgb(117, 117, 250);
  border-radius: 5px;
  margin-right: 15px;
 }

h5 a{
  color: grey;
 }

.card-flats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  justify-items: center;
  width: 80%;
  margin: 0 auto;
}

.card-flat {
  width: 100%;
  height: 300px;
  border: solid 1px rgb(240, 240, 240);
  text-align: center;
}

.img-card-flat {
  width: 100%;
  height: 200px;
}

.card-flat-btn {
  display: flex;
  justify-content: space-around;
}
